<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="format-detection" content="telephone=no">

    <title>e-learning</title>

</head>

<body style="margin:0 auto 0 auto">

<style>


</style>

<center>

    <hr color="white" size="50"/>

    <hr color="white" size="50"/>

    <table border="0" cellpadding="0" cellspacing="0" style="max-width:699px;width:699px" width="699">

        <tbody>

        <tr>

            <td colspan="3"
                style="color:#5d5d5d ;border:none;font-family: Verdana;font-size: 17px;text-align: center;line-height: 1.4em">
                <img alt="Kliknij, aby zobaczy&#263; obrazek!"
                     src="https://media.freshmail.mx/i/7hq5dl5j21/_templates/j36o2r4r5f/top_a8f169f85d.png.png?sum=b8ecf6a61030e983ac89d6f55ec00663"/>
            </td>

        </tr>

        <tr>

            <td colspan="3"
                style="color:#5d5d5d ;border:none;font-family: Verdana;font-size: 17px;text-align: center;line-height: 1.4em;vertical-align: top"
                valign="top">

                <table cellpadding="0" cellspacing="0" width="699">

                    <tbody>

                    <tr style="background:#f1f1f1;">

                        <td bgcolor="#f1f1f1" style="background:#f1f1f1;vertical-align:top;" valign="top"><img
                                    alt="Kliknij, aby zobaczy&#263; obrazek!"
                                    src="https://media.freshmail.mx/i/7hq5dl5j21/_templates/j36o2r4r5f/l1.jpg?sum=29bcf8c0e05b64760f9463388f0984a8"/>
                        </td>

                        <td bgcolor="#f1f1f1"
                            style="font-family: Verdana;color:#3f4449;font-size: 14px;;text-align: justify"
                            valign="top">&nbsp;

                            <div align="left" class="blue"
                                 style="color:#009ee3; font-family:Verdana; font-size:24px; font-weight:bold; margin-bottom:30px; text-align:left">
                                Zarz&#261;dzanie pokoleniami
                            </div>

                            Zarz&#261;dzanie pracownikami w r&oacute;&#380;nym wieku to spore wyzwanie dla mened&#380;era,
                            szczeg&oacute;lnie je&#380;eli w ramach jednego zespo&#322;u ma on do czynienia<br/>

                            z osobami z kilku r&oacute;&#380;nych generacji.<br/>

                            Jak zbudowa&#263; porozumienie w zespole? Co jest wa&#380;ne dla ka&#380;dego z pokole&#324;?
                            Jak pogodzi&#263; ich podej&#347;cie do &#380;ycia<br/>

                            i pracy?<br/>

                            <br/>

                            <a href="https://www.e-learning.pl/ewiedza/zarzadzanie-generacjami-nowe-szkolenie-e-learningowe"
                               style="text-decoration: none;color:white;" target="_blank"><img
                                        alt="kliknij, aby zobaczyc obrazek"
                                        src="https://media.freshmail.mx/i/7hq5dl5j21/_templates/j36o2r4r5f/wiecej12_6a20dee64d.png?sum=ad8bd4d21a46ede9f4e45aaef817d4b7"
                                        style="width:288px;"/></a><br/>

                            <br/>

                            &nbsp;
                        </td>

                        <td width="30"></td>

                    </tr>

                    </tbody>

                </table>

            </td>

        </tr>

        <tr>

            <td colspan="3"
                style="color:#5d5d5d ;border:none;font-family: Verdana;font-size: 17px;text-align: center;line-height: 1.4em">
                &nbsp;

                <div class="blue"
                     style="color:#009ee3; font-family:Verdana; font-size:24px; font-weight:bold; margin-bottom:30px">
                    Zobacz nasze najnowsze szkolenie
                </div>

                <a href="http://ftp.e-learning.pl/ELPL_DEMO_Zarz_pokoleniami/story_html5.html?lms=1"><img
                            alt="Kliknij, aby zobaczy&#263; obrazek!"
                            src="https://media.freshmail.mx/i/7hq5dl5j21/_templates/j36o2r4r5f/video.jpg?sum=6b939b8b7e41f01a52519324ead574ff"/></a><br/>

                &nbsp;
            </td>

        </tr>

        <tr>

            <td colspan="3"
                style="background:#f1f1f1; color:#3f4449 ;border:none;font-family: Verdana;font-size: 14px;;text-align: center;line-height: 1.4em">
                &nbsp;

                <div class="blue"
                     style="color:#009ee3; font-family:Verdana; font-size:24px; font-weight:bold; margin-bottom:30px">
                    Kalendarz wydarze&#324;
                </div>

            </td>

        </tr>

        <tr><!--a-->

            <td bgcolor="#f1f1f1" colspan="3" valign="top"><img alt="kliknij, &#380;eby zobaczy&#263; obrazek"
                                                                src="{{ email.image('@epremiera_images/kalendarz.png') }}" width="100%"/></td>

        </tr>

        <tr bgcolor="#f1f1f1">

            <td style="width:233px;color:#3f4449 ;border:none;font-family: Verdana;font-size: 14px;;text-align: center;line-height: 1.4em"
                valign="top" width="233">

                <table border="0" cellpadding="0" cellspacing="0" width="233">

                    <tbody>

                    <tr>

                        <td bgcolor="#f1f1f1" width="10"></td>

                        <td style="width:213px;background: #f1f1f1; color:#3f4449 ;border:none;font-family: Verdana;font-size: 14px;;text-align: center;line-height: 1.4em;padding-top:10px;"
                            widt="213">

                            <p>
                                <a href="https://www.e-learning.pl/pl/aktualnosci,5/135,15-01-2020-zapraszamy-na-webinar-polerowanie-lodu-i-inne-przypadki-czyli-rzecz-o-bledach-w-e-learningu.html"
                                   style="text-decoration: none;color:#3f4449"><br><b>Webinar z
                                        e-learning.pl</b></a><br/>

                                <a href="https://www.e-learning.pl/pl/aktualnosci,5/135,15-01-2020-zapraszamy-na-webinar-polerowanie-lodu-i-inne-przypadki-czyli-rzecz-o-bledach-w-e-learningu.html"
                                   style="text-decoration: none;color:#3f4449">- <span style="font-size:14px;">Polerowanie lodu i inne przypadki czyli rzecz o b&#322;&#281;dach w e-learningu.</span>
                                </a></p>

                        </td>

                        <td bgcolor="#f1f1f1" width="10"></td>

                    </tr>

                    </tbody>

                </table>

            </td>

            <td style="width:233px;olor:#3f4449 ;border:none;font-family: Verdana;font-size: 14px;;text-align: center;line-height: 1.4em"
                valign="top" width="233">

                <table border="0" cellpadding="0" cellspacing="0" width="233">

                    <tbody>

                    <tr>

                        <td bgcolor="#f1f1f1" width="10"></td>

                        <td style="width:213px;color:#3f4449;border:none;font-family: Verdana;font-size: 14px;;text-align: center;line-height: 1.4em;padding-top:10px;"
                            widt="213">

                            <p>
                                <a href="https://www.e-learning.pl/pl/aktualnosci,5/136,zapraszamy-na-webinar-jak-angazowac-w-e-learningu-cztery-kluczowe-czynniki-motywacji-4-03-2020-r.html"
                                   style="text-decoration: none;color:#3f4449"><br><b>Webinar z
                                        e-learning.pl </b></a><br/>

                                -<a href="https://www.e-learning.pl/pl/aktualnosci,5/136,zapraszamy-na-webinar-jak-angazowac-w-e-learningu-cztery-kluczowe-czynniki-motywacji-4-03-2020-r.html"
                                    style="text-decoration: none;color:#3f4449"><span style="font-size:14px;"> Jak anga&#380;owa&#263; w e-learningu: pracownik, mened&#380;er, sponsor projektu. </span>
                                </a></p>

                        </td>

                        <td bgcolor="#f1f1f1" width="10"></td>

                    </tr>

                    </tbody>

                </table>

            </td>

            <td style="width:233px;color:#3f4449 ;border:none;font-family: Verdana;font-size: 14px;;text-align: center;line-height: 1.4em"
                valign="top" width="233">

                <table border="0" cellpadding="0" cellspacing="0" width="233">

                    <tbody>

                    <tr>

                        <td bgcolor="#f1f1f1" width="10"></td>

                        <td style="width:213px;color:#3f4449 ;border:none;font-family: Verdana;font-size: 14px;;text-align: center;line-height: 1.4em;padding-top:10px;"
                            widt="213">

                            <p>
                                <a href="https://www.e-learning.pl/pl/aktualnosci,5/129,sniadanie-z-e-learning-pl-interaktywne-wideo-szkoleniowe-31-marca-2020.html"
                                   style="text-decoration: none;color:#3f4449"><b>&#346;niadanie z e-learning.pl</b></a><br/>

                                <a href="https://www.e-learning.pl/pl/aktualnosci,5/129,sniadanie-z-e-learning-pl-interaktywne-wideo-szkoleniowe-31-marca-2020.html"
                                   style="text-decoration: none;color:#3f4449"><span style="font-size:14px;">- Interaktywne wideo szkoleniowe.</span></a>
                            </p>

                        </td>

                        <td bgcolor="#f1f1f1" width="11"></td>
                        <br>

                    </tr>

                    </tbody>

                </table>

            </td>

        </tr>

        <tr bgcolor="#f1f1f1">

            <td colspan="3"></td>
            <br>

        </tr>
        <br>

        <tr>
            <br>
            <br>

            <td bgcolor="#f1f1f1" colspan="3" style="text-align:center;font-family: Verdana;line-height: 1.4em;">
                <br>

                <div class="blue"
                     style="color:#009ee3; font-family:Verdana; font-size:24px; font-weight:bold; margin-bottom:30px">
                    <br>W nast&#281;pnym e-news
                </div>

            </td>

        </tr>

        <tr>

            <td bgcolor="#f1f1f1" colspan="2"
                style="text-align:left;font-family: Verdana;line-height: 1.4em;padding-bottom:10px;" align="left"
                valign="top" width="266">


                <img src="https://media.freshmail.mx/i/7hq5dl5j21/_templates/j36o2r4r5f/img.jpg?sum=2fe4581df87eda396e694f154b38395b"
                     style="max-width:100%;"/>


            </td>

            <td bgcolor="#f1f1f1"
                style="text-align:left;font-family: Verdana;font-size:14px;;line-height: 1.4em;padding:0 10px 25px 10px"
                valign="top" width="233">

                <p>Produkty e-learningowe maj&#261; swoj&#261; cen&#281; (cz&#281;sto niema&#322;&#261;),

                    w du&#380;ej mierze uzale&#380;nion&#261; od standardu realizacji, stopnia skomplikowania,
                    infrastruktury (platformy i narz&#281;dzi), r&oacute;&#380;norodno&#347;ci funkcjonalno&#347;ci.

                    Dlaczego dobry e-learning kosztuje? O tym ju&#380; w nast&#281;pnym e-news.</p><br/>

            </td>

        </tr>

        <tr>

            <td bgcolor="#f1f1f1" colspan="3" style="text-align:center;font-family: Verdana;line-height: 1.4em;">

                <div class="blue"
                     style="color:#009ee3; font-family:Verdana; font-size:24px; font-weight:bold; margin-bottom:30px">
                    <br/>

                    <a darkturquoise="" href="https://www.e-learning.pl/" style="text-decoration:color:"><span
                                style="color:#3498db;">www.e-learning.pl</span></a></div>

            </td>

        </tr>

        </tbody>

    </table>


    <table>

        <tbody>

        <tr>

            <td width="33%" style="text-align: center;"><a
                        href="https://www.linkedin.com/company/e-learning-pl?trk=top_nav_home"><img width="100%"
                                                                                                    style="max-width:100%;"
                                                                                                    alt="linkedin"
                                                                                                    src="https://media.freshmail.mx/i/7hq5dl5j21/_templates/j36o2r4r5f/in_94564233a3.png.png?sum=ba56f268a61d317a757380c9a3c03d54"/></a>
            </td>

            <td width="33%" style="text-align: center;"><a
                        href="https://www.youtube.com/channel/UC90FeDplYC5wUI5C9_-zZAw"><img width="100%"
                                                                                             style="max-width:100%;"
                                                                                             alt="youtube"
                                                                                             src="https://media.freshmail.mx/i/7hq5dl5j21/_templates/j36o2r4r5f/yt_99fbd1d015.png.png?sum=1446b3309e2cc9d9bd5b05b568dd29b0"/></a>
            </td>

            <td width="33%" style="text-align: center;"><a href="https://e-learning.pl/ewiedza/"><img
                            alt="strefa e wiedzy" width="100%" style="max-width:100%;"
                            src="https://media.freshmail.mx/i/7hq5dl5j21/_templates/j36o2r4r5f/sw_e8c136aa8e.png.png?sum=4f404bac8824438391d1603fd835d2a3"/></a>
            </td>

        </tr>

        </tbody>

    </table>


    <table>

        <tbody>

        <tr>

            <td style="text-align:left;color:#3f4449;font-size:8px;padding:15px 15px 20px 15px;">

                <p style="text-align: center;">Od 25 maja obowi&#261;zuj&#261; nowe zasady ochrony danych osobowych -
                    Rozporz&#261;dzenie Unii Europejskiej o Ochronie Danych Osobowych (tzw. &bdquo;RODO&rdquo;). Wdro&#380;yli&#347;my
                    przepisy RODO tak, aby jeszcze lepiej chroni&#263; Twoje dane, a to oznacza &#380;e:</p>


                <p style="text-align: center;">Udzielone do tej pory zgody na przetwarzanie Twoich danych osobowych
                    pozostaj&#261; wa&#380;ne. Mo&#380;esz jednak wycofa&#263; je w dowolnym momencie.<br/>

                    Mo&#380;esz skorzysta&#263; z wielu przys&#322;uguj&#261;cych Ci uprawnie&#324;. Wi&#281;cej
                    informacji na ten temat znajdziesz w naszej Polityce Prywatno&#347;ci.<br/>

                    W razie pyta&#324;, zastrze&#380;e&#324; czy w&#261;tpliwo&#347;ci &ndash; jeste&#347;my do Twojej
                    dyspozycji. Napisz do nas: <a href="mailto:office@e-learning.pl" style="color:black">office@e&#8209;learning.pl</a>.<br/>

                    <br/>

                    Wys&#322;ali&#347;my do Ciebie ten mail, poniewa&#380; subskrybujesz nasz newsletter.<br/>

                    Je&#347;li chcesz si&#281; wypisa&#263;,
                    <resignlink style="cursor:pointer;color:#004a6b;">kliknij tutaj.</resignlink>
                    .
                </p>

            </td>

        </tr>

        </tbody>

    </table>

</center>

</body>

</html>

